.sub{
    font-family: Arial, Helvetica, sans-serif !important;
  
  }
  h1{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 48px;
  
  }
  p{
    font-family: Arial, Helvetica, sans-serif ;
  }

  .next{
    margin: 0 0 0 12px;
    font-size: 16px;
    color: #fff;
    font-family: sans-serif;
    // background-color: #f67a71; 
    background: linear-gradient(to left, #df9dba 15%, #9e93dd 75%);

    border-radius: 100px;
    width: 140px;
    height: 40px;
    // padding: 0 17px !important;
    }

    .home-page-gallery {
        max-width: 960px;
        // background: #fff 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 30px #0000001a;
        border: 2px solid #fff;
        border-radius: 12px;
        padding: 25px;
        margin: auto;
        margin-top: 30px;
      }

      .active{
        color: #df9dba ;
        cursor: pointer;
      
      }
   
      li{
        cursor: pointer;
      }
      
      .imggs{
        align-items: center;
        justify-content: center;
        text-align: left;
      }
  
    .sec-card{
      margin-left: 15px;
    }
    
    .see{
      font-size: 24px;
        font-weight: 700;
        text-transform: none;
        color: #000;
        margin: 0;
    }
    .textss{
      color: #7a7a7a;
        margin: 15px 0;
        line-height: 30px;
        
    
    }
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1pxsolidrgba(0,0,0,.125);
      border-radius: 0.25rem;
  }
  
  .card {
    box-shadow: 0px 20px 20px #0000001a;
    padding: 15px;
    border-radius: 15px;
    width: 12rem;
}